* {
	scroll-behavior: smooth;
}

#fh5co-header {
	/* The image used */
	background-image: url("../img/album1.png");
	height: 100vh;
	/* Center and scale the image nicely */
	/* background-attachment: fixed; */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.paralax-acara {
	/* The image used */
	background-image: url("../img/album2.png");
	height: 100vh;
	/* Center and scale the image nicely */
	/* background-attachment: fixed; */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.float {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 95px;
	right: 20px;
	background-color: #304058;
	opacity: 0.5;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	padding-top: 9px;
	z-index: 1;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}